/* Reset styles */
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  color: #041223;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 27px;
  margin: 0;
}

h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
span:focus,
label:focus,
input:focus,
a:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input,
select,
textarea,
button {
  border: 0;
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:focus, a:active {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: #999;
  opacity: 1;
}

b,
strong {
  font-weight: bolder;
}

body {
  background-color: #F7FCFF;
}

html {
  font-size: 62.5%;
}

/* Variables styles */
.h1Mobile {
  font-size: 4.8rem;
  line-height: 1.5;
  font-weight: 500;
}

.h2Mobile {
  font-size: 3.4rem;
  line-height: 1.5;
  font-weight: 500;
}

.h3Mobile {
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 300;
}

.subtitle {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 500;
}

.bodyI {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
}

.bodyII {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1-6 {
  margin-bottom: 1.6rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-2-4 {
  margin-bottom: 2.4rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-2-4 {
  margin-right: 2.4rem;
}

.mr-3 {
  margin-right: 3rem;
}

.buttonPrimary,
.buttonPrimarySmall,
.buttonSecondary,
.buttonTertiary {
  background-color: #2D3BD7;
  border-style: none;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-color: #F7FCFF;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #F7FCFF;
  min-width: 28rem;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
}

.buttonSecondary {
  background-color: #76D7EA;
  color: #041223;
}

.buttonTertiary {
  background-color: #FF97C6;
  color: #041223;
}

.buttonPrimarySmall {
  background-color: #76D7EA;
  color: #041223;
  max-width: 12rem;
  min-width: 12rem;
  padding: 0.8rem 1.6rem;
}

@media screen and (min-width: 768px) {
  .buttonPrimary:hover,
  .buttonSecondary:hover,
  .buttonTertiary:hover {
    background-color: #1E299F;
    box-shadow: 0 8px 24px rgba(4, 18, 35, 0.3);
    transition: ease-in-out 0.6s;
  }

  .buttonSecondary:hover {
    background-color: #1AB9D4;
  }

  .buttonTertiary:hover {
    background-color: #E55B9A;
  }

  .buttonLink:hover {
    background-color: #9EE8F4;
  }
}

.pill,
.pillDeveloper {
  background-color: #FED1E6;
  border-radius: 1.6rem;
  padding: 0.8rem 1.6rem;
  text-align: center;
}

.pillDeveloper {
  background-color: #D9FBFF;
}

.buttonLink {
  background: transparent;
  color: #062695;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
}

.cardService {
  align-items: flex-start;
  border-radius: 1.2rem;
  box-shadow: 0 8px 24px rgba(4, 18, 35, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
  padding: 1.6rem 2rem;
  min-height: 28rem;
  min-width: 22rem;
}

/* Header */

.header {
  background-color: #F7FCFF;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  border-bottom: 2px solid #041223;
  padding: 2rem 1.6rem;
}

.containerLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 50%;
}

.links {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 80px;
  height: 94%;
  width: 90%;
  transform: translateX(140%);
  -webkit-transform: translateX(140%);
  -moz-transform: translateX(140%);
  -ms-transform: translateX(140%);
  -o-transform: translateX(140%);
  transition: transform 0.6s ease-in-out;
  -webkit-transition: transform 0.6s ease-in-out;
  -moz-transition: transform 0.6s ease-in-out;
  -ms-transition: transform 0.6s ease-in-out;
  -o-transition: transform 0.6s ease-in-out;
}

.listMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: #F7FCFF;
}

.item {
  width: 80%;
}

.item a {
  font-size: 20px;
}

.activeLink a {
  font-weight: 600;
}

.containerBurger {
  align-items: center;
  cursor: pointer;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
}

.burger {
  width: 40px;
}

.lineOne,
.lineTwo,
.lineThree {
  width: 2rem;
  height: 0.2rem;
  background-color: #041223;
  margin: 1rem;
  transition: all 0.5s ease;
}

.lineTwo {
  width: 26px;
}

.toggle .lineOne {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: #041223;
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  -moz-transform: rotate(-45deg) translate(-5px, 6px);
  -ms-transform: rotate(-45deg) translate(-5px, 6px);
  -o-transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .lineTwo {
  width: 200px;
  opacity: 0;
}

.toggle .lineThree {
  transform: rotate(45deg)translate(-5px, -6px);
  background-color: #062695;
  -webkit-transform: rotate(45deg)translate(-5px, -6px);
  -moz-transform: rotate(45deg)translate(-5px, -6px);
  -ms-transform: rotate(45deg)translate(-5px, -6px);
  -o-transform: rotate(45deg)translate(-5px, -6px);
}


@media screen and (min-width:480px) {
  .burger {
    cursor: pointer;
  }
}

@media screen and (min-width:768px) {
  #header {
    height: 100px;
    position: absolute;
    padding: 0px 10px 0 10px;
  }

  .links {
    top: 0;
    height: 100%;
    width: 70%;
    transform: translate(40%, 0%);
    -webkit-transform: translate(40%, 0%);
    -moz-transform: translate(40%, 0%);
    -ms-transform: translate(40%, 0%);
    -o-transform: translate(40%, 0%);
    position: absolute;
  }

  .item {
    width: auto;
  }

  .listMenu {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .item a:hover {
    font-weight: bolder;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
  }

  .containerBurger {
    display: none;
  }

  .sidebar {
    box-shadow: #0A1F29 0px 0px 0px 0px;
  }
}

/* Hero */

.heroContainer {
  background-color: #F7FCFF;
  padding: 10rem 1.6rem 2rem;
  width: 100%;
}

.heroContainerTitle {
  display: flex;
  flex-direction: column;
}

.handEmoji {
  animation: moveHand infinite ease-in 1.6s;
  transform-origin: 70% 70%;
}

@keyframes moveHand {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(05deg);
  }

  50% {
    transform: rotateZ(8deg);
  }

  75% {
    transform: rotateZ(05deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

.heroCarouselContainer,
.summaryCarouselTools {
  background: transparent;
  display: flex;
  margin-bottom: 1.6rem;
  overflow: scroll;
  padding: 2rem 1.6rem;
}


/* Tamaño del scroll */
.heroCarouselContainer::-webkit-scrollbar,
.summaryCarouselTools::-webkit-scrollbar {
  height: 6px;
}

/* Estilos barra (thumb) de scroll */
.heroCarouselContainer::-webkit-scrollbar-thumb,
.summaryCarouselTools::-webkit-scrollbar-thumb {
  background-color: #1AB9D4;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.heroCarouselContainer::-webkit-scrollbar-thumb:active,
.summaryCarouselTools::-webkit-scrollbar-thumb:active {
  background-color: #9EE8F4;
}

.heroCarouselContainer::-webkit-scrollbar-thumb:hover,
.summaryCarouselTools::-webkit-scrollbar-thumb:hover {
  background: #9EE8F4;
}

/* Estilos track de scroll */
.heroCarouselContainer::-webkit-scrollbar-track,
.summaryCarouselTools::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.heroCarouselContainer::-webkit-scrollbar-track:hover,
.heroCarouselContainer::-webkit-scrollbar-track:active,
.summaryCarouselTools::-webkit-scrollbar-track:hover,
.summaryCarouselTools::-webkit-scrollbar-track:active {
  background: transparent;
}

.heroContainerCTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.containerArrows {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down {
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
}

.down span {
  border-radius: 0.2rem;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  animation: arrows 1.6s linear infinite;
  opacity: 0;
  outline: none;
  -webkit-animation: arrows 1.6s linear infinite;
}

.down span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}

.down span:nth-child(2) {
  transform: translate(0, 0);
  animation-delay: -0.2s;
}

@keyframes arrows {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }

  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }

  50%,
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}


/* Summary */

.summaryContainerHome {
  background-image: url(./img/blur-background.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 1.6rem;
}

.summaryContainerImg {
  display: flex;
  justify-content: center;
  height: 28rem;
  width: 100%;
}

.summaryLeoImg {
  height: 28rem;
}

.summaryTitle {
  text-align: center;
}

.tool {
  border-radius: 50%;
  box-shadow: 0 8px 24px rgba(4, 18, 35, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 16rem;
  min-width: 16rem;
}

/* Footer */

.footer {
  align-items: center;
  background: linear-gradient(to bottom, #D9FBFF, #9EE8F4) ;
  padding: 2rem 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  width: 100%;
}

.footerLogo {
  grid-column: 1/5;
  display: flex;
  align-items: center;
  font-size: 24px;
  justify-content: center;
}

.footerMessage {
  grid-column: 1/5;
  text-align: center;
}

.footerContainerCTA {
  grid-column: 1/5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContainerExternalLinks,
.footerContainerInformation {
  grid-column: 1/5;
  align-items: center;
  justify-content: space-around;
  justify-self: center;
  display: flex;
  max-width: 40rem;
  width: 100%;
}

.footerContainerIcon {
  align-items: center;
  background-color: #F7FCFF;
  border-radius: 50%;
  box-shadow: 0 0 4px #000000;
  justify-content: center;
  padding: 0.6rem;
  display: flex;
  height: 4rem;
  margin-bottom: 24px;
  width: 4rem;
}

.footerIconExternal {
  height: 100%;
}

.footerContainerInformation,
.footerInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerInformation {
  margin-bottom: 2.4rem;
}

.footerCopyRight {
  font-size: 1.2rem;
  font-weight: 500;
  grid-column: 1/5;
  text-align: center;
}

/* Media queries home*/

@media screen and (min-width: 768px) {
  .heroContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    padding: 20rem 4rem 2rem;
  }

  .heroContainerTitle {
    grid-column: 1/5;
    max-width: 32rem;
  }

  .heroCarouselContainer {
    grid-column: 6/13;
    margin-bottom: 6rem;
  }

  .heroContainerCTA {
    grid-column: 1/13;
    justify-self: center;
    margin-bottom: 10rem;
  }

  .containerArrows {
    grid-column: 1/13;
  }

  .summaryContainerHome {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    padding: 2rem 4rem 0;
  }

  .summaryContainerImg {
    grid-column: 2/5;
  }

  .summaryContainerDescription {
    grid-column: 6/13;
    margin-bottom: 4rem;
  }

  .summaryCarouselTools {
    grid-column: 1/13;
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .heroContainerTitle {
    grid-column: 2/5;
  }

  .summaryContainerHome {
    padding-top: 10rem;
  }

  .summaryContainerImg {
    grid-column: 3/6;
  }

  .summaryLeoImg {
    height: 32rem;
  }

  .summaryContainerDescription {
    grid-column: 7/12;
  }

  .summaryCarouselTools {
    flex-wrap: wrap;
    justify-self: center;
  }

  .footer {
    grid-template-columns: repeat(12, 1fr);
    padding-top: 10rem;
  }

  .footerLogo,
  .footerMessage,
  .footerContainerCTA { 
    grid-column: 2/6;
  }

  .footerContainerExternalLinks,
  .footerContainerInformation {
    grid-column: 7/13;
  }

  .footerContainerCTA ,
  .footerContainerInformation{
    grid-row: 3/4;
  }

  .footerCopyRight {
    grid-column: 1/13;
    justify-self: center;
  }

  .header {
    height: 100px;
    position: absolute;
    padding: 0px 10px 0 10px;
  }

  .links {
    top: 0;
    height: 100%;
    width: 70%;
    transform: translate(40%, 0%);
    -webkit-transform: translate(40%, 0%);
    -moz-transform: translate(40%, 0%);
    -ms-transform: translate(40%, 0%);
    -o-transform: translate(40%, 0%);
    position: absolute;
  }

  .item {
    width: auto;
  }

  .listMenu {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .item a:hover {
    font-weight: bolder;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
  }

  .containerBurger {
    display: none;
  }

  .containerLogo {
    height: 100%;
    width: 30%;
    padding-left: 4%;
  }

  .logo {
    height: 200px;
    width: 200px;
  }

  .sidebar {
    box-shadow: #0A1F29 0px 0px 0px 0px;
  }
}

/* About Me Page */

.heroHeaderContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.informationContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.summaryContainer {
  display: flex;
  align-items: flex-start;
}

.circle {
  background-color: #C7ECFC;
  border-radius: 50%;
  min-height: 2rem;
  min-width: 2rem;
}

.summaryInformation {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.informationTitle {
  line-height: 0.8;
}

.informationDate {
  color: #4E4E4E;
}

/* Projects */
.heroContainerProjects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  padding: 12rem 1.6rem 2rem;
}

.heroContainerTitleProjects,
.heroContainerCTAProjects {
  grid-column: 1/4;
}

.heroVideo {
  grid-column: 1/5;
  height: 32rem;
  width: 100%;
}

.heroArrowIconProjects {
  grid-column: 1/5;
  justify-self: center;
  height: 2.4rem;
}

.containerProjects {
  background-image: url(./img/blur-background.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  padding: 2rem 1.6rem;
  grid-template-columns: repeat(4, 1fr);
}

.listProjects {
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
}

.cardProject {
  align-items: flex-start;
  border-radius: 1.2rem;
  box-shadow: 0 8px 24px rgba(4, 18, 35, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 32rem;
  min-width: 28rem;
  max-width: 40rem;
}

.projectImg {
  height: 100%;
  object-fit: contain;
  object-position: top;
  width: 100%;
}

.cardProjectDescription {
  background: linear-gradient(180deg, #FFFFFF 0%, #D9FBFF 100%);
  color: #041223;
  display: flex;
  flex-direction: column;
  padding: 0 1.6rem 1.6rem;
  gap: 2.4rem;
}

.containerCardProjectCTA {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .heroContainerProjects {
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .heroContainerTitleProjects {
    grid-column: 2/6;
  }

  .heroVideo {
    grid-column: 7/13;
  }

  .heroContainerCTAProjects {
    grid-column: 5/9;
    justify-self: center;
  }

  .heroArrowIconProjects {
    grid-column: 5/9;
  }

  .containerProjects {
    grid-template-columns: repeat(12, 1fr);
  }

  .listProjects,
  .projectsContainerCTA {
    grid-column: 1/13;
    justify-self: center;
  }
}

@media screen and (min-width: 1024px) {
  .heroContainerCTAProjects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40rem;
    text-align: center;
  }
  
  .listProjects {
    max-width: 144rem;
    width: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .cardLarge {
    min-height: 70rem;
  }

  .projectImg {
    height: 100%;
    object-fit: cover;
    object-position: top left;
    width: 100%;
  }
}

/* Services */

.heroContainerServices {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  padding: 12rem 1.6rem 2rem;
}

.heroContainerTitleServices {
  grid-column: 1/4; 
}

.heroContainerCTAServices {
  grid-column: 1/5;
  justify-self: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.containerCarouselDesign,
.containerCarouselDevelopment {
  background: transparent;
  grid-column: 1/5;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.containerDevelopment {
  background-image: url(./img/blur-background.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  padding: 2rem 0;
}

.containerMessage {
  grid-column: 1/5;
  max-width: 34rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.containerMessage h3 {
  text-align: center;
}

.containerSlogan {
  background-color: #2D3BD7;
  border-bottom-right-radius: 5rem;
  border-top-right-radius: 5rem;
  grid-column: 1/5;
  padding: 2.4rem 1.6rem;
}

.containerSlogan h3 {
  color: #F7FCFF;
}

@media screen and (min-width: 768px) {
  .heroContainerServices {
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    padding: 12rem 2rem 2rem;
  }

  .heroContainerCTAServices {
    grid-column: 5/9;
  }

  .containerCarouselDesign,
  .containerCarouselDevelopment {
    grid-column: 1/13;
  }

  .containerDevelopment {
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    padding: 2rem;
  }

  .containerMessage {
    grid-column: 1/13;
    justify-self: center;
    max-width: 42rem;
  }

  .containerSlogan {
    grid-column: 1/6;
  }
}

@media screen and (min-width: 1024px) {
  .heroContainerServices {
    padding: 20rem 4rem 2rem 4rem;
  }

  .heroContainerTitleServices {
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }

  .containerCarouselDesign {
    grid-column: 6/13;
    grid-row: 1/3;
  }

  .heroContainerCTAServices {
    grid-column: 1/5;
    text-align: left;
    align-items: flex-start;
  }

  .containerDevelopment {
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    padding: 4rem 2rem;
  }

  .containerCarouselDevelopment {
    grid-column: 1/10;
  }

  .containerMessage {
    grid-column: 1/5;
  }

  .containerSlogan {
    grid-column: 6/13;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    display: flex;
    align-items: center;
    padding: 2.4rem;
  }

  .containerSlogan h3 {
    font-size: 5rem;
  }
}

/* Lets work together */

.letsWorkContainer {
  background-image: url(./img/blur-background.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  padding: 12rem 0 2rem;
}

.letsWorkContainerTitle {
  grid-column: 1/5;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

.letsWorkContainerSlogan {
  background-color: #2D3BD7;
  border-bottom-right-radius: 5rem;
  border-top-right-radius: 5rem;
  grid-column: 1/4;
  padding: 2.4rem 1.6rem;
}

.letsWorkContainerSlogan h2 {
  color: #F7FCFF;
}

.form {
  grid-column: 1/5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formInput {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.label {
  color: #767B86;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.input {
  background: transparent;
  border-bottom: 1px solid #767B86;
  font-size: 1.6rem;
  font-weight: 400;
  color: #041223;
}

@media screen and (min-width: 768px) {
  .letsWorkContainer {
    grid-template-columns: repeat(12, 1fr);
    padding: 14rem 2rem 2rem;
  }

  .letsWorkContainerTitle {
    grid-column: 1/7;
    padding-right: 0;
    padding-left: 0;
  }

  .letsWorkContainerSlogan {
    grid-column: 1/7;
    grid-row: 3/3;
  }
  
  .form {
    grid-column: 8/13;
    grid-row: 1/3;
  }
}

@media screen and (min-width: 1024px) {
  .letsWorkContainer {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .label {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }
  
  .input {
    font-size: 1.8rem;
  }
}
