.homeContainer {
   @media (min-width: $min-width-desktop) {
    background-image: url(../../static/img/blur-background.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: $min-width-big-desktop) {
    @include container-page;
  }
}

.heroContainerHome {
  @include hero-container-section;

  @media (min-width: $min-width-tablet) {
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    padding: 12rem 4rem 2rem;
  }

  @media (min-width: $min-width-desktop) {
    max-width: 144rem;
    padding-top: 16rem;
  }
}

.heroContainerTitleHome {
  @include hero-container-title;
  margin-bottom: map-get($map: $margin-spaces, $key: m2);

  @media (min-width: $min-width-tablet) {
    grid-column: 1/13;
  }

  @media (min-width: $min-width-desktop) {
    grid-column: 1/5;
  }
}

.handEmoji {
  animation: moveHand infinite ease-in 1.6s;
  transform-origin: 70% 70%;
}

@keyframes moveHand {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(05deg);
  }

  50% {
    transform: rotateZ(8deg);
  }

  75% {
    transform: rotateZ(05deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

.containerCarouselCardsHome {
  @include carousel-container-native;
    margin-bottom: map-get($map: $margin-spaces, $key: m4);

  @media (min-width: $min-width-tablet) {
    grid-column: 1/13;
  }

  @media (min-width: $min-width-desktop) {
    grid-column: 6/13;
  }
}

.heroContainerCTAHome {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: 1/5;

  p {
    text-align: center;
  }

  @media (min-width: $min-width-tablet) {
    grid-column: 1/13;
    margin-bottom: 10rem;
  }

  @media (min-width: $min-width-desktop) {
    padding-top: 6rem;
  }
}

.summaryContainerHome {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 1.6rem;
  width: 100%;

  @media (min-width: $min-width-tablet) {
    background-image: url(../../static/img/blur-background.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    padding: 4rem 4rem;
  }

  @media (min-width: $min-width-desktop) {
    background-image: none;
    padding-top: 10rem;
    max-width: 144rem;
  }
}

.summaryContainerImgHome {
  grid-column: 1/5;
  display: flex;
  justify-content: center;
  height: 28rem;
  margin-bottom: map-get($map: $margin-spaces, $key: m3);
  width: 100%;

  @media (min-width: $min-width-tablet) {
    align-items: center;
    padding-top: 10rem;
  }

  @media (min-width: $min-width-desktop) {
    grid-column: 3/6;
    grid-row: 1/3;
    display: flex;
  }
}
/* TODO: Optimizar el tamaño de la imagen del html*/
.summaryLeoImgHome {
  height: 28rem;
  width: 24rem;
  margin-bottom: map-get($map: $margin-spaces, $key: m3);

  @media (min-width: $min-width-desktop) {
    height: 30rem;
    width: 26rem;
  }
}

.summaryContainerDescriptionHome {
  grid-column: 1/5;

  h2 {
    text-align: center;
  }
 
  @media (min-width: $min-width-tablet) {
    grid-column: 6/13;
    margin-bottom: 4rem;
  }

  @media (min-width: $min-width-desktop) {
    grid-column: 7/12;
    grid-row: 1/3;
  }
}

.containerCarouselNotes {
  grid-column: 1/5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media (min-width: $min-width-tablet) {
    grid-column: 1/13;
  }
}

.carouselCardsNotes {
  @include carousel-container-native;
  margin-bottom: map-get($map: $margin-spaces, $key: m4);
}

.containerCarouselToolsHome {
  @include carousel-container-native;
  
  @media (min-width: $min-width-tablet) {
    grid-column: 1/13;
  }

  @media (min-width: $min-width-desktop) {
    margin-bottom: 6rem;
  }
}

.vectorTool {
  background-color: $color-white-75;
  border-radius: 50%;
  box-shadow: $box-shadow-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  transition: ease all 0.6s;

  @media (min-width: $min-width-desktop) {
    &:hover {
      background-color: $color-primary-50;
    }
  }
}

.tool {
  min-height: 4.6rem;
  min-width: 4.6rem;
}

.containerLinkMemotest {
  align-items: center;
  display: flex;
  grid-column: 1/5;

  @media (min-width: $min-width-tablet) {
    grid-column: 1/13;
  }
}
