.servicesContainer {
  @media (min-width: $min-width-big-desktop) {
    background-image: url(../../static/img/blur-background.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    @include container-page;
  }
}

.heroServices {
  @include hero-container-section;

  background-image: url(../../static/img/blur-background.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $min-width-tablet) {
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    padding: 14rem 4rem 2rem;
  }

  @media (min-width: $min-width-desktop) {
    background-image: none;
    max-width: 144rem;
    padding-top: 16rem;
  }
}

.heroContainerTitleServices {
  @include hero-container-title;

  @media (min-width: $min-width-tablet) {
    grid-column: 1/6;
    grid-row: 1/2;
  }
}

.containerCarouselDesign,
.containerCarouselDevelopment {
  background: transparent;
  grid-column: 1/5;

  @media (min-width: $min-width-tablet) {
    grid-column: 1/13;
  }

  @media (min-width: $min-width-desktop)  {
    grid-column: 6/13;
    grid-row: 1/3;
  }
}

.containerCarouselDevelopment {
  @media (min-width: $min-width-desktop) {
    grid-column: 1/13;
  }
}

.carouselDesign,
.carouselDevelopment {
  @include carousel-container-native; 
} 

.heroContainerCTAServices {
  grid-column: 1/5;
  justify-self: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $min-width-tablet) {
    grid-column: 5/9;
  }

  @media (min-width: $min-width-desktop)  {
    grid-column: 1/5;
    text-align: left;
    align-items: flex-start;
  }
}

.containerDevelopment {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  padding: 2rem 1.6rem;

  @media (min-width: $min-width-tablet) {
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    padding: 4rem 4rem;
  }

  @media (min-width: $min-width-desktop) {
    max-width: 144rem;
    padding: 8rem 4rem;
  }
}

.containerMessage {
  grid-column: 1/5;
  max-width: 34rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  h3 {
    text-align: center;

    @media (min-width: $min-width-desktop) {
      text-align: start;
    }
  }

  @media (min-width: $min-width-tablet) {
    grid-column: 1/13;
    justify-self: center;
    max-width: 42rem;
  }

  @media (min-width: $min-width-desktop)  {
    align-items: flex-start;
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
  }
}

.containerSlogan {
  background-color: #2D3BD7;
  border-bottom-right-radius: 5rem;
  border-top-right-radius: 5rem;
  grid-column: 1/5;
  padding: 2.4rem 1.6rem;

  h3 {
    color: #F7FCFF;
  }

  @media (min-width: $min-width-tablet) {
    grid-column: 1/6;
  }

  @media (min-width: $min-width-desktop)  {
    grid-column: 9/13;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem;
    height: 50rem;
    width: 50rem;

    h3 {
      font-size: 5rem;
    }
  }
}
