
.buttonPrimary {
  @extend %style-button-base;
  background-color: $color-primary-75;

  &:hover {
    background-color: $color-primary;
  }
}

.buttonSecondary {
  @extend %style-button-base;
  background-color: $color-secondary-75;

  &:hover {
    background-color: $color-secondary;
  }
}

.buttonTertiary {
  @extend %style-button-base;
  background-color: #FF97C6;

  &:hover {
    background-color: #E55B9A;
  }
}

.buttonPrimarySmall {
  @extend %style-button-base;
  background-color: $color-secondary-75;
  max-width: 14rem;
  min-width: 14rem;
  padding: 0.8rem 1.6rem;
}

.buttonLink {
  background: transparent;
  color: $color-primary;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  
  &:hover {
    color: $color-secondary;
  }
}
