
.buttonPrimary {
  @extend %style-button-base;
  background-color: $color-primary-75;

  &:active {
    color: $color-dark-75;
  }

  &:hover {
    background-color: $color-primary;
  }
}

.buttonSecondary {
  @extend %style-button-base;
  background-color: $color-secondary-75;

  &:hover {
    color: $color-dark-75;
    background-color: $color-secondary;
  }

  &:active {
    color: $color-dark-75;
  }
}

.buttonTertiary {
  @extend %style-button-base;
  background-color: #FF97C6;

  &:hover {
    background-color: #E55B9A;
  }
}

.buttonSmall {
  @extend %style-button-base;
  background-color: transparent;
  border: 2px solid $color-primary-75;
  color: $color-primary-75;
  min-width: 15rem;
  padding: 0.8rem 1.4rem;

  &:hover {
    border-color: $color-primary;
    color: $color-primary;
    background-color: $color-white-75;
    box-shadow: none;
  }

  @media (min-width:$min-width-desktop) {
    padding: 0.8rem 1.6rem;
  }
}

.buttonLink {
  background: transparent;
  color: $color-primary-50;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  
  &:hover {
    color: $color-secondary;
  }
}
