.cardService {
  align-items: flex-start;
  background-color: $color-dark-50;
  border-radius: 1.2rem;
  box-shadow: $box-shadow-dark;
  color: $color-white-75;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.4rem;
  padding: 2rem 1.6rem;
  flex-shrink: 0;
  max-width: 22rem;

  @media (min-width: $min-width-desktop) {
    max-width: 26rem;
    min-height: 30rem;
    padding: 4rem 2rem;

    &:hover {
      transition: ease-in-out 0.6s;
      transform: translateY(0.6rem);
    }
  }
}

.cardProject {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 1.2rem;
  box-shadow: 0 8px 24px $color-dark-50;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 32rem;
  min-width: 28rem;
  max-width: 40rem;
  transition: ease all 0.6s;

  @media (min-width: $min-width-desktop) {
    &:hover {
      box-shadow: 0 8px 24px $color-dark;
    }
  }
}

.cardLarge {
  @media (min-width: $min-width-desktop) {
    min-height: 70rem;
    justify-content: space-between;
  }
}

.cardLarge .projectImg {
  @media (min-width: $min-width-desktop) {
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    object-fit: cover;
    object-position: top left;
    height: 50rem;
  }
}

.cardLarge .cardProjectDescription {
  @media (min-width: $min-width-desktop) {
    padding: 2rem;
    height: 20rem;
  }
}

.projectImg {
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  height: 100%;
  object-fit: contain;
  object-position: top;
  width: 100%;

  @media (min-width: $min-width-desktop) {
    object-fit: cover;
    object-position: top left;
  }
}

.cardProjectDescription {
  background: linear-gradient(180deg, #20243D 25.35%, #080C25 100%);
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  color: $color-white-75;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 1.6rem 1.6rem;
  width: 100%;
}

.containerCardProjectCTA {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cardNote {
  background-color: $color-dark-50;
  color: $color-white-75;
  border-radius: 1.2rem;
  box-shadow: 0 8px 24px $color-dark-50;
  display: flex;
  flex-direction: column;
  min-height: 32rem;
  min-width: 24rem;
  max-width: 24rem;
  transition: ease all 0.6s;

  @media (min-width: $min-width-desktop) {
    max-width: 34rem;
    min-height: 36rem;

    &:hover {
      box-shadow: 0 8px 24px $color-dark;
    }
  }
}

.noteImage {
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  object-fit: cover;
  height: 20rem;
  width: 100%;

  @media (min-width: $min-width-desktop) {
    height: 30rem;
  }
}

.noteLabel {
  padding: 1.6rem 1rem;
}