.footer {
  @include container-page;
  background-color: $color-dark;
}

.containerFooter {
  align-items: center;
  background: transparent;
  padding: 4rem 2rem 2rem 2rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  width: 100%;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(12, 1fr);
    padding-top: 10rem;
    max-width: 144rem;
  }
}

.footerLogo {
  grid-column: 1/5;
  display: flex;
  align-items: center;
  font-size: 24px;
  justify-content: center;

  @media (min-width: 1024px) {
    margin-bottom: 6rem;
  }
}

.footerMessage {
  grid-column: 1/5;
  text-align: center;

  @media (min-width: 1024px) {
    margin-bottom: 6rem;
  }
}

.footerContainerCTA {
  grid-column: 1/5;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    margin-bottom: 6rem;
  }

  @media (min-width: 1024px) {
    grid-row: 3/4;
  }
}

.footerContainerExternalLinks,
.footerContainerInformation {
  @extend %style-container-information-footer;
  @media (min-width: 1024px) {
    grid-column: 6/13;
  }
}

.footerContainerExternalLinks {
  @media (min-width: 1024px) {
    grid-column: 6/13;
  }
}

.footerContainerIcon {
  align-items: center;
  background-color: $color-white-75;
  border-radius: 50%;
  box-shadow: 0 0 4px $color-dark-75;
  display: flex;
  height: 4rem;
  justify-content: center;
  margin-bottom: 24px;
  padding: 0.6rem;
  text-decoration: none;
  width: 4rem;

  @media (min-width: 1024px) {
    height: 5rem;
    width: 5rem;
    padding: 0.8rem;
  }
}

.footerIconExternal {
  height: 100%;
}

.footerContainerInformation,
.footerInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 1024px) {
    align-items: flex-start;
  }
}

.footerInformation {
  margin-bottom: 2.4rem;

  &:nth-child(2) {
    @media (min-width: 768px) {
      margin-bottom: 6rem;
    }
  }

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.footerCopyRight {
  grid-column: 1/5;
  text-align: center;

  @media (min-width: 1024px) {
    grid-column: 1/13;
    justify-self: center;
    padding-top: 6rem;
  }
}
