.pill,
.pillDeveloper {
  background-color: $color-secondary-50;
  border-radius: 2.4rem;
  color: $color-dark-75;
  padding: 0.8rem 1.6rem;
  text-align: center;
}

.pillDeveloper {
  background-color: $color-primary-50;
}
