/* Variables - Colores */

$color-primary: #3071E7;
$color-primary-75: #558CF0;
$color-primary-50: #91B1EA;
$color-secondary: #1AB9D4;
$color-secondary-75: #76D7EA;
$color-secondary-50: #9EE8F4;
$color-dark: #020810;
$color-dark-75: #080C25;
$color-dark-50: #161E35;
$color-dark-25: #20243D;
$color-white: #FFFFFF;
$color-white-75: #F2F5FF;
$color-white-50: #EAEDF6;
$color-white-25: #D7DAE2;
$color-grey-light: #EEF1F3;
$color-grey-medium: #D4D9DC;
$color-grey-dark: #8F97A1;
