@import "base/_colors", "base/_variables";

%style-button-base {
  border-style: none;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: $color-dark-75;
  max-width: 28rem;
  min-width: 28rem;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  text-decoration: none;

  &:hover {
    color: $color-dark-75;
    box-shadow: $box-shadow-dark;
    transition: ease-in-out 0.6s;
  }

  &:active {
    color: $color-dark-75;
  }
}

%style-container-information-footer {
  grid-column: 1/5;
  align-items: center;
  justify-content: space-around;
  justify-self: center;
  display: flex;
  max-width: 40rem;
  width: 100%;
}
