/* Box Shadows */
$box-shadow-dark: 0 8px 24px $color-dark-75;

/* Media queries */
$min-width-tablet: 768px;
$min-width-desktop-bootstrap: 992px;
$min-width-desktop: 1024px;
$min-width-big-desktop: 1440px;
